# config context path to "/" by setting an empty string
server:
  contextPath:

jwt:
  header: Authorization
  secret: mySecret
  expiration: 604800
  route:
    authentication:
      path: auth
      refresh: refresh


spring:
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:tcp://localhost:9092/~/tt_db
    password:
    username: sa

  jpa:
    database: H2
    generate-ddl: true
    hibernate:
#      ddl-auto: create-drop
      ddl-auto: none

  jackson:
    serialization:
      INDENT_OUTPUT: true
      fail-on-empty-beans: false
      WRITE_DATES_AS_TIMESTAMPS: false

  mail:
    host:
    port: 587
    username:
    password:

      # Other properties
    smtp:
      auth: true
      connectiontimeout: 5000
      timeout: 5000
      writetimeout: 5000

      # TLS , port 587
      starttls:
        enable: true

mail:
  from:
  host:

logging:
  level:
     org.hibernate: DEBUG
#    org.springframework:
#      security: DEBUG
